/* line 89, ../scss/_lw-datepicker.scss */
.lw-dp {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  cursor: default;
  width: 141px;
  background: #f9f9f9;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  padding: 4px;
  margin: 5.5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 107, ../scss/_lw-datepicker.scss */
.lw-dp-hidden {
  display: none;
  box-shadow: none;
}

/* line 112, ../scss/_lw-datepicker.scss */
.lw-dp-toolbar {
  text-align: center;
  overflow: hidden;
  font-size: 12px;
  line-height: 18px;
  color: #797979;
  padding: 0 0 2.2px;
}

/* line 121, ../scss/_lw-datepicker.scss */
.lw-dp-month {
  display: inline-block;
  width: 103px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 129, ../scss/_lw-datepicker.scss */
.lw-dp-previous, .lw-dp-next {
  position: absolute;
  top: 4px;
  width: 19px;
  height: 18px;
  color: #b9b9b9;
  cursor: pointer;
}

/* line 138, ../scss/_lw-datepicker.scss */
.lw-dp-previous:hover, .lw-dp-next:hover {
  color: #797979;
}

/* line 142, ../scss/_lw-datepicker.scss */
.lw-dp-previous:active, .lw-dp-next:active {
  color: #acacac;
}

/* line 146, ../scss/_lw-datepicker.scss */
.lw-dp-previous {
  left: 4px;
}

/* line 150, ../scss/_lw-datepicker.scss */
.lw-dp-next {
  right: 4px;
}

/* line 154, ../scss/_lw-datepicker.scss */
.lw-dp-dows {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* line 160, ../scss/_lw-datepicker.scss */
.lw-dp-dows li, .lw-dp-week li {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #797979;
}

/* line 169, ../scss/_lw-datepicker.scss */
.lw-dp-dows li {
  font-size: 7.7px;
  line-height: 7.7px;
  width: 19px;
  height: 8.47px;
  background: #f9f9f9;
  border-width: 0;
  border-left-width: 1px;
  border-style: solid;
  border-color: #f9f9f9;
  padding: 0;
  margin: 0;
}

/* line 183, ../scss/_lw-datepicker.scss */
.lw-dp-week {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* line 189, ../scss/_lw-datepicker.scss */
.lw-dp-week li {
  padding: 0;
  margin: 0;
  border-width: 0;
  font-size: 11px;
  width: 19px;
  height: 19px;
  line-height: 19px;
  background: #e0e0e0;
  border-left-width: 1px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #f9f9f9;
  cursor: pointer;
}

/* line 205, ../scss/_lw-datepicker.scss */
.lw-dp-dows-last-column, .lw-dp-week-last-column {
  border-right-width: 1px;
}

/* line 209, ../scss/_lw-datepicker.scss */
.lw-dp-lastweek li {
  padding: 0;
  margin: 0;
  border-bottom-width: 1px;
}

/* line 216, ../scss/_lw-datepicker.scss */
.lw-dp-firstweek li:first-child {
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  -ms-border-radius: 4px 0 0 0;
  -khtml-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}

/* line 220, ../scss/_lw-datepicker.scss */
.lw-dp-firstweek li:last-child {
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
  -o-border-radius: 0 4px 0 0;
  -ms-border-radius: 0 4px 0 0;
  -khtml-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}

/* line 224, ../scss/_lw-datepicker.scss */
.lw-dp-lastweek li:first-child {
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  -khtml-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}

/* line 228, ../scss/_lw-datepicker.scss */
.lw-dp-lastweek li:last-child {
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
  -o-border-radius: 0 0 4px 0;
  -ms-border-radius: 0 0 4px 0;
  -khtml-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

/* line 232, ../scss/_lw-datepicker.scss */
.lw-dp-week li:hover {
  background: #f4f4f4;
}

/* line 236, ../scss/_lw-datepicker.scss */
li.lw-dp-weekend {
  background: #d0d0d0;
}

/* line 240, ../scss/_lw-datepicker.scss */
li.lw-dp-today {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 244, ../scss/_lw-datepicker.scss */
li.lw-dp-today span {
  display: block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  border: 1px solid #acacac;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 253, ../scss/_lw-datepicker.scss */
li.lw-dp-today:hover span {
  color: #797979;
}

/* line 257, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day, li.lw-dp-active-day:hover {
  position: relative;
  color: #f9f9f9;
  background: #797979;
}
/* line 262, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day:nth-child(n), li.lw-dp-active-day:hover:nth-child(n) {
  background: none;
}
/* line 265, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day::before, li.lw-dp-active-day:hover::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: #797979;
  z-index: -1;
}

/* line 278, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day:hover span {
  background: #e0e0e0;
}

/* line 282, ../scss/_lw-datepicker.scss */
li.lw-dp-neighbour-month-day {
  color: #b9b9b9;
}

/* line 286, ../scss/_lw-datepicker.scss */
li.lw-dp-out-of-interval, li.lw-dp-out-of-interval:hover {
  background: #ececec;
  cursor: default;
}
