/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 68, ../scss/_lw-datepicker.scss */
.lw-dp {
  display: block;
  z-index: 1000;
  overflow: hidden;
  cursor: default;
  position: absolute;
  left: 40px;
  top: 24px;
  width: 155px;
  background: #ffcccc;
  border-width: 1px;
  border-style: solid;
  border-color: #ff9999;
  padding: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 87, ../scss/_lw-datepicker.scss */
.lw-dp-toolbar {
  text-align: center;
  overflow: hidden;
  font-size: 13px;
  line-height: 13px;
  color: #755757;
  padding: 2.4px 0 6px;
}

/* line 96, ../scss/_lw-datepicker.scss */
.lw-dp-month {
  display: inline-block;
}

/* line 100, ../scss/_lw-datepicker.scss */
.lw-dp-previous, .lw-dp-next {
  float: left;
  padding: 0 4px;
}

/* line 105, ../scss/_lw-datepicker.scss */
.lw-dp-next {
  float: right;
}

/* line 109, ../scss/_lw-datepicker.scss */
.lw-dp-dows li, .lw-dp-week li {
  display: block;
  float: left;
  text-align: center;
  color: #755757;
}

/* line 116, ../scss/_lw-datepicker.scss */
.lw-dp-dows li {
  font-size: 8.4px;
  line-height: 8.4px;
  width: 21px;
  height: 9.6px;
  background: #ffcccc;
  border-left-width: 1px;
  border-style: solid;
  border-color: #ffcccc;
}

/* line 127, ../scss/_lw-datepicker.scss */
.lw-dp-week li {
  font-size: 12px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  background: #ebadad;
  border-left-width: 1px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #ffcccc;
}

/* line 139, ../scss/_lw-datepicker.scss */
.lw-dp-dows-last-column, .lw-dp-week-last-column {
  border-right-width: 1px;
}

/* line 143, ../scss/_lw-datepicker.scss */
.lw-dp-lastweek li {
  border-bottom-width: 1px;
}

/* line 147, ../scss/_lw-datepicker.scss */
.lw-dp-firstweek li:first-child {
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  -ms-border-radius: 4px 0 0 0;
  -khtml-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}

/* line 151, ../scss/_lw-datepicker.scss */
.lw-dp-firstweek li:last-child {
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
  -o-border-radius: 0 4px 0 0;
  -ms-border-radius: 0 4px 0 0;
  -khtml-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}

/* line 155, ../scss/_lw-datepicker.scss */
.lw-dp-lastweek li:first-child {
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  -khtml-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}

/* line 159, ../scss/_lw-datepicker.scss */
.lw-dp-lastweek li:last-child {
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
  -o-border-radius: 0 0 4px 0;
  -ms-border-radius: 0 0 4px 0;
  -khtml-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

/* line 163, ../scss/_lw-datepicker.scss */
.lw-dp-week li:hover {
  background: #f3cece;
}

/* line 167, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day, li.lw-dp-active-day:hover {
  position: relative;
  color: #ffcccc;
  background: none;
}

/* line 173, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: #755757;
  z-index: -1;
}

/* line 185, ../scss/_lw-datepicker.scss */
li.lw-dp-today {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 189, ../scss/_lw-datepicker.scss */
li.lw-dp-today span {
  display: block;
  width: 19px;
  height: 19px;
  line-height: 19px;
  border: 1px solid #cc6666;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 206, ../scss/_lw-datepicker.scss */
li.lw-dp-today:hover span {
  color: #755757;
}

/* line 210, ../scss/_lw-datepicker.scss */
li.lw-dp-weekend {
  background: #e49595;
}

/* line 219, ../scss/_lw-datepicker.scss */
li.lw-dp-neighbour-month-day {
  color: #c18b8b;
}

/* line 4, ../scss/main.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #111;
}
