/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 27, ../scss/_lw-datepicker.scss */
.lw-datepicker {
  display: block;
  z-index: 1000;
  overflow: hidden;
  cursor: default;
  position: absolute;
  left: 40px;
  top: 24px;
  width: 155px;
  background: #dddddd;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 50, ../scss/_lw-datepicker.scss */
.lw-datepicker-toolbar {
  font-size: 13px;
  text-align: center;
  overflow: hidden;
  padding: 2px 0 4px;
}

/* line 57, ../scss/_lw-datepicker.scss */
.lw-datepicker-month {
  display: inline-block;
  padding: 2px 0;
}

/* line 62, ../scss/_lw-datepicker.scss */
.lw-datepicker-previous, .lw-datepicker-next {
  padding: 0 8px;
  font-weight: bold;
  float: left;
}

/* line 68, ../scss/_lw-datepicker.scss */
.lw-datepicker-next {
  float: right;
}

/* line 72, ../scss/_lw-datepicker.scss */
.lw-datepicker-dows li, .lw-datepicker-days li {
  display: block;
  float: left;
  text-align: center;
}

/* line 78, ../scss/_lw-datepicker.scss */
.lw-datepicker-dows li {
  font-size: 9px;
  width: 21px;
  height: 13px;
  padding: 3px 0 0;
  background: white;
  border-left-width: 1px;
  border-style: solid;
  border-color: #dddddd;
}

/* line 89, ../scss/_lw-datepicker.scss */
.lw-datepicker-days li {
  font-size: 12px;
  width: 13px;
  height: 13px;
  padding: 4px;
  background: white;
  border-left-width: 1px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #dddddd;
}

/* line 101, ../scss/_lw-datepicker.scss */
.lw-datepicker-dows-last-column, .lw-datepicker-days-last-column {
  border-right-width: 1px;
}

/* line 105, ../scss/_lw-datepicker.scss */
.lw-datepicker-dows-last-row, .lw-datepicker-days-last-row {
  border-bottom-width: 1px;
}

/* line 109, ../scss/_lw-datepicker.scss */
.lw-datepicker-days li:hover {
  background: #d9d9d9;
}

/* line 113, ../scss/_lw-datepicker.scss */
.lw-datepicker-active-day {
  color: red;
}

/* line 117, ../scss/_lw-datepicker.scss */
.lw-datepicker-neighbour-month-day {
  color: red;
}

/* line 4, ../scss/main.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #111;
}
