/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 88, ../scss/_lw-datepicker.scss */
.lw-dp {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  cursor: default;
  width: 155px;
  background: #ddeeff;
  border-width: 1px;
  border-style: solid;
  border-color: #aad4ff;
  padding: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 105, ../scss/_lw-datepicker.scss */
.lw-dp-hidden {
  display: none;
  box-shadow: none;
}

/* line 110, ../scss/_lw-datepicker.scss */
.lw-dp-toolbar {
  position: relative;
  text-align: center;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  color: #5e6e7f;
  padding: 0 0 2.4px;
}

/* line 120, ../scss/_lw-datepicker.scss */
.lw-dp-month {
  display: inline-block;
  width: 113px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 128, ../scss/_lw-datepicker.scss */
.lw-dp-previous, .lw-dp-next {
  position: absolute;
  top: 0;
  width: 21px;
  height: 100%;
  color: #96aec6;
  cursor: pointer;
}

/* line 137, ../scss/_lw-datepicker.scss */
.lw-dp-previous:hover, .lw-dp-next:hover {
  color: #5e6e7f;
}

/* line 141, ../scss/_lw-datepicker.scss */
.lw-dp-previous:active, .lw-dp-next:active {
  color: #73a1d0;
}

/* line 145, ../scss/_lw-datepicker.scss */
.lw-dp-previous {
  left: 0;
}

/* line 149, ../scss/_lw-datepicker.scss */
.lw-dp-next {
  right: 0;
}

/* line 153, ../scss/_lw-datepicker.scss */
.lw-dp-dows li, .lw-dp-week li {
  display: block;
  float: left;
  text-align: center;
  color: #5e6e7f;
}

/* line 160, ../scss/_lw-datepicker.scss */
.lw-dp-dows li {
  font-size: 8.4px;
  line-height: 8.4px;
  width: 21px;
  height: 9.24px;
  background: #ddeeff;
  border-left-width: 1px;
  border-style: solid;
  border-color: #ddeeff;
}

/* line 171, ../scss/_lw-datepicker.scss */
.lw-dp-week li {
  font-size: 12px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  background: #bbd4ee;
  border-left-width: 1px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #ddeeff;
  cursor: pointer;
}

/* line 184, ../scss/_lw-datepicker.scss */
.lw-dp-dows-last-column, .lw-dp-week-last-column {
  border-right-width: 1px;
}

/* line 188, ../scss/_lw-datepicker.scss */
.lw-dp-lastweek li {
  border-bottom-width: 1px;
}

/* line 192, ../scss/_lw-datepicker.scss */
.lw-dp-firstweek li:first-child {
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  -ms-border-radius: 4px 0 0 0;
  -khtml-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}

/* line 196, ../scss/_lw-datepicker.scss */
.lw-dp-firstweek li:last-child {
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
  -o-border-radius: 0 4px 0 0;
  -ms-border-radius: 0 4px 0 0;
  -khtml-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}

/* line 200, ../scss/_lw-datepicker.scss */
.lw-dp-lastweek li:first-child {
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  -khtml-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}

/* line 204, ../scss/_lw-datepicker.scss */
.lw-dp-lastweek li:last-child {
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
  -o-border-radius: 0 0 4px 0;
  -ms-border-radius: 0 0 4px 0;
  -khtml-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

/* line 208, ../scss/_lw-datepicker.scss */
.lw-dp-week li:hover {
  background: #dce9f6;
}

/* line 212, ../scss/_lw-datepicker.scss */
li.lw-dp-weekend {
  background: #a3c5e8;
}

/* line 216, ../scss/_lw-datepicker.scss */
li.lw-dp-today {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 220, ../scss/_lw-datepicker.scss */
li.lw-dp-today span {
  display: block;
  width: 19px;
  height: 19px;
  line-height: 19px;
  border: 1px solid #73a1d0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 229, ../scss/_lw-datepicker.scss */
li.lw-dp-today:hover span {
  color: #5e6e7f;
}

/* line 233, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day, li.lw-dp-active-day:hover {
  position: relative;
  color: #ddeeff;
  background: #5e6e7f;
}
/* line 238, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day:nth-child(n), li.lw-dp-active-day:hover:nth-child(n) {
  background: none;
}
/* line 241, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day::before, li.lw-dp-active-day:hover::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: #5e6e7f;
  z-index: -1;
}

/* line 254, ../scss/_lw-datepicker.scss */
li.lw-dp-active-day:hover span {
  background: #bbd4ee;
}

/* line 258, ../scss/_lw-datepicker.scss */
li.lw-dp-neighbour-month-day {
  color: #96aec6;
}

/* line 262, ../scss/_lw-datepicker.scss */
li.lw-dp-out-of-interval, li.lw-dp-out-of-interval:hover {
  background: #cfe1f3;
  cursor: default;
}

/* line 7, ../scss/main.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #111;
  position: relative;
}

/* line 19, ../scss/main.scss */
input {
  margin: 10px 10px;
  border: 1px solid gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
