@import "compass/css3";
@import "compass/utilities";

@function floor($value) {
  @return $value - $value % 1;
}

@function ceil($value) {
  @return $value - $value % 1 + 1;
}

// Base
$lw-dp-base-color: #cdc !default;
$lw-dp-base-font-size: 12px !default;

// Cells
$lw-dp-cell-width: floor($lw-dp-base-font-size * 1.8) !default;
$lw-dp-cell-height: $lw-dp-cell-width !default;
$lw-dp-cell-background: contrast-color(
  $lw-dp-base-color,
  darken($lw-dp-base-color, 10%),
  lighten($lw-dp-base-color, 15%),
  50%
) !default;
$lw-dp-cell-background: scale-saturation($lw-dp-cell-background, -40%);
$lw-dp-cell-background-hover: contrast-color(
  #fff - $lw-dp-cell-background,
  darken($lw-dp-cell-background, 20%),
  lighten($lw-dp-cell-background, 8%),
  50%
) !default;
$lw-dp-cell-border-width: ceil($lw-dp-base-font-size * 0.05) !default;
$lw-dp-cell-border-style: solid !default;
$lw-dp-cell-border-color: $lw-dp-base-color !default;

// Container
$lw-dp-z-index: 100 !default;
$lw-dp-width: floor($lw-dp-cell-width * 7 + $lw-dp-cell-border-width * 8) !default;
$lw-dp-padding: floor($lw-dp-base-font-size * 0.4) !default;
$lw-dp-margin: $lw-dp-base-font-size * 0.5 !default;
$lw-dp-background: $lw-dp-base-color !default;
$lw-dp-border-width: $lw-dp-cell-border-width !default;
$lw-dp-border-style: $lw-dp-cell-border-style !default;
$lw-dp-border-color: contrast-color(
  $lw-dp-base-color,
  darken($lw-dp-base-color, 10%),
  lighten($lw-dp-base-color, 25%),
  50%
) !default;
$lw-dp-border-radius: floor($lw-dp-base-font-size * 0.4) !default;

// Fonts
$lw-dp-dow-font-size: $lw-dp-base-font-size * 0.7 !default;
$lw-dp-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$lw-dp-font-color: scale-saturation($lw-dp-cell-background, -75%) !default;
$lw-dp-font-color: contrast-color(
  $lw-dp-font-color,
  darken($lw-dp-font-color, 40%),
  lighten($lw-dp-font-color, 60%),
  50%
);
$lw-dp-font-color-neighbour: scale-saturation(
  contrast-color(
    $lw-dp-cell-background,
    darken($lw-dp-cell-background, 15%),
    lighten($lw-dp-cell-background, 15%),
    50%
  ),
  -50%
) !default;

// Colors
$lw-dp-desaturated-color: scale-saturation(
  contrast-color(
    $lw-dp-base-color,
    darken($lw-dp-base-color, 30%),
    lighten($lw-dp-base-color, 40%),
    50%
  ),
  -50%
) !default;
$lw-dp-cell-weekend-background-color: contrast-color(
  $lw-dp-cell-background,
  darken($lw-dp-cell-background, 6%),
  lighten($lw-dp-cell-background, 6%),
  30%
) !default;

.lw-dp {
  position: absolute;
  z-index: $lw-dp-z-index;
  overflow: hidden;
  cursor: default;
  width: $lw-dp-width;
  background: $lw-dp-background;
  border-width: $lw-dp-border-width;
  border-style: $lw-dp-border-style;
  border-color: $lw-dp-border-color;
  padding: $lw-dp-padding;
  margin: $lw-dp-margin;
  font-family: $lw-dp-font-family;
  @include border-radius($lw-dp-border-radius);
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 2px 8px);
  @include experimental(user-select, none, -moz, -webkit, -o, not -ms, not -khtml, official);
}

.lw-dp-hidden {
  display: none;
  box-shadow: none;
}

.lw-dp-toolbar {
  text-align: center;
  overflow: hidden;
  font-size: floor($lw-dp-base-font-size * 1.1);
  line-height: floor($lw-dp-base-font-size * 1.7);
  color: $lw-dp-font-color;
  padding: 0 0 $lw-dp-base-font-size / 5;
}

.lw-dp-month {
  display: inline-block;
  width: $lw-dp-width - $lw-dp-cell-width * 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lw-dp-previous, .lw-dp-next {
  position: absolute;
  top: $lw-dp-padding;
  width: $lw-dp-cell-width;
  height: floor($lw-dp-base-font-size * 1.7);
  color: $lw-dp-font-color-neighbour;
  cursor: pointer;
}

.lw-dp-previous:hover, .lw-dp-next:hover {
  color: $lw-dp-font-color;
}

.lw-dp-previous:active, .lw-dp-next:active {
  color: $lw-dp-desaturated-color;
}

.lw-dp-previous {
  left: $lw-dp-padding;
}

.lw-dp-next {
  right: $lw-dp-padding;
}

.lw-dp-dows {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.lw-dp-dows li, .lw-dp-week li {  
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  color: $lw-dp-font-color;
}

.lw-dp-dows li {
  font-size: $lw-dp-dow-font-size;
  line-height: $lw-dp-dow-font-size;
  width: $lw-dp-cell-width;
  height: $lw-dp-dow-font-size * 1.1;
  background: $lw-dp-base-color;
  border-width: 0;
  border-left-width: $lw-dp-cell-border-width;
  border-style: $lw-dp-cell-border-style;
  border-color: $lw-dp-base-color;
  padding: 0;
  margin: 0;
}

.lw-dp-week {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.lw-dp-week li {
  padding: 0;
  margin: 0;
  border-width: 0;
  font-size: $lw-dp-base-font-size;
  width: $lw-dp-cell-width;
  height: $lw-dp-cell-height;
  line-height: $lw-dp-cell-height;
  background: $lw-dp-cell-background;
  border-left-width: $lw-dp-cell-border-width;
  border-top-width: $lw-dp-cell-border-width;
  border-style: $lw-dp-cell-border-style;
  border-color: $lw-dp-cell-border-color;
  cursor: pointer;
}

.lw-dp-dows-last-column, .lw-dp-week-last-column {
  border-right-width: $lw-dp-cell-border-width;
}

.lw-dp-lastweek li {
    padding: 0;
  margin: 0;

  border-bottom-width: $lw-dp-cell-border-width;
}

.lw-dp-firstweek li:first-child {
  @include border-radius($lw-dp-border-radius 0 0 0);
}

.lw-dp-firstweek li:last-child {
  @include border-radius(0 $lw-dp-border-radius 0 0);
}

.lw-dp-lastweek li:first-child {
  @include border-radius(0 0 0 $lw-dp-border-radius);
}

.lw-dp-lastweek li:last-child {
  @include border-radius(0 0 $lw-dp-border-radius 0);
}

.lw-dp-week li:hover {
  background: $lw-dp-cell-background-hover;
}

li.lw-dp-weekend {
  background: $lw-dp-cell-weekend-background-color;
}

li.lw-dp-today{
  @include border-radius(floor($lw-dp-border-radius * 0.6));
}

li.lw-dp-today span {
  display: block;
  width: $lw-dp-cell-width - $lw-dp-border-width * 2;
  height: $lw-dp-cell-width - $lw-dp-border-width * 2;
  line-height: $lw-dp-cell-height - $lw-dp-border-width * 2;
  border: $lw-dp-border-width solid $lw-dp-desaturated-color;
  @include border-radius(floor($lw-dp-border-radius * 0.5));
}

li.lw-dp-today:hover span {
  color: $lw-dp-font-color;
}

li.lw-dp-active-day,  li.lw-dp-active-day:hover {
  position: relative;
  color: $lw-dp-base-color;
  background: $lw-dp-font-color;

  &:nth-child(n) {
    background: none; 
  }
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: '';
    @include border-radius(floor($lw-dp-border-radius * 0.5));
    background: $lw-dp-font-color;
    z-index: -1;
  }
}

li.lw-dp-active-day:hover span {
  background: $lw-dp-cell-background;
}

li.lw-dp-neighbour-month-day {
  color: $lw-dp-font-color-neighbour;
}

li.lw-dp-out-of-interval, li.lw-dp-out-of-interval:hover {
  background: contrast-color(
    $lw-dp-cell-background,
    lighten($lw-dp-cell-background, 5%),
    darken($lw-dp-cell-background, 5%),
    50%
  );
  cursor: default;
}
