@import "compass/css3";
@import "compass/utilities";

// General
$lw-datepicker-basecolor: #fff !default;

// Container
$lw-datepicker-background: $lw-datepicker-basecolor !default;
$lw-datepicker-border-width: 1px !default;
$lw-datepicker-border-style: solid !default;
$lw-datepicker-border-color: contrast-color($lw-datepicker-basecolor, darken($lw-datepicker-basecolor, 10%),lighten($lw-datepicker-basecolor, 25%), 50%) !default;
$lw-datepicker-padding: 5px !default;

// Cells
$lw-datepicker-cell-background: contrast-color($lw-datepicker-basecolor, darken($lw-datepicker-basecolor, 10%),lighten($lw-datepicker-basecolor, 15%), 50%) !default;
$lw-datepicker-cell-background: scale-saturation($lw-datepicker-cell-background, -40%);
$lw-datepicker-cell-background-hover: contrast-color(#fff - $lw-datepicker-cell-background, darken($lw-datepicker-cell-background, 15%),lighten($lw-datepicker-cell-background, 5%), 50%) !default;
$lw-datepicker-cell-width: 22px !default;
$lw-datepicker-cell-height: $lw-datepicker-cell-width !default;
$lw-datepicker-cell-border-width: $lw-datepicker-border-width !default;
$lw-datepicker-cell-border-style: $lw-datepicker-border-style !default;
$lw-datepicker-cell-border-color: $lw-datepicker-basecolor !default;

// Fonts
$lw-datepicker-cell-font-size: 12px !default;
$lw-datepicker-font-color-base: scale-saturation($lw-datepicker-cell-background, -75%) !default;
$lw-datepicker-font-color-base: contrast-color($lw-datepicker-font-color-base, darken($lw-datepicker-font-color-base, 40%), lighten($lw-datepicker-font-color-base, 60%), 50%);
$lw-datepicker-font-color-neighbour: scale-saturation(contrast-color($lw-datepicker-cell-background, darken($lw-datepicker-cell-background, 15%), lighten($lw-datepicker-cell-background, 15%), 50%), -50%) !default;

.lw-datepicker {
  display: block;
  z-index: 1000;
  overflow: hidden;
  cursor: default;

  position: absolute;
  left: 40px;
  top: 24px;

  width: $lw-datepicker-cell-width * 7 + $lw-datepicker-cell-border-width * 8;

  background: $lw-datepicker-background;
  border-width: $lw-datepicker-border-width;
  border-style: $lw-datepicker-border-style;
  border-color: $lw-datepicker-border-color;  

  padding: $lw-datepicker-padding;

  @include border-radius(5px);
}

.lw-datepicker-toolbar {
  text-align: center;
  overflow: hidden;
  font-size: $lw-datepicker-cell-font-size + 1px;
  color: $lw-datepicker-font-color-base;
  padding: 2px 0 2px;
}

.lw-datepicker-month {
  display: inline-block;
  padding: 2px 0;
}

.lw-datepicker-previous, .lw-datepicker-next {
  float: left;
  font-weight: bold;
  padding: 0 8px;
}

.lw-datepicker-next {
  float: right;
}

.lw-datepicker-dows li, .lw-datepicker-week li {
  display: block;
  float: left;
  text-align: center;
  color: $lw-datepicker-font-color-base;
}

.lw-datepicker-dows li {
  font-size: $lw-datepicker-cell-font-size - 3px;
  line-height: $lw-datepicker-cell-font-size - 3px;
  width: $lw-datepicker-cell-width ;
  height: $lw-datepicker-cell-font-size;
  background: $lw-datepicker-basecolor;
  border-left-width: $lw-datepicker-cell-border-width;
  border-style: $lw-datepicker-cell-border-style;
  border-color: $lw-datepicker-basecolor;
  padding: 3px 0 0;
}

.lw-datepicker-week li {
  font-size: $lw-datepicker-cell-font-size;
  width: $lw-datepicker-cell-width;
  height: $lw-datepicker-cell-height;
  line-height: $lw-datepicker-cell-height;
  background: $lw-datepicker-cell-background;
  border-left-width: $lw-datepicker-cell-border-width;
  border-top-width: $lw-datepicker-cell-border-width;
  border-style: $lw-datepicker-cell-border-style;
  border-color: $lw-datepicker-cell-border-color;
}

.lw-datepicker-dows-last-column, .lw-datepicker-week-last-column {
  border-right-width: $lw-datepicker-cell-border-width;
}

.lw-datepicker-lastweek li {
  border-bottom-width: $lw-datepicker-cell-border-width;
}

.lw-datepicker-firstweek li:first-child {
  @include border-radius(4px 0 0 0);
}

.lw-datepicker-firstweek li:last-child {
  @include border-radius(0 4px 0 0);
}

.lw-datepicker-lastweek li:first-child {
  @include border-radius(0 0 0 4px);
}

.lw-datepicker-lastweek li:last-child {
  @include border-radius(0 0 4px 0);
}

.lw-datepicker-week li:hover {
  background: $lw-datepicker-cell-background-hover;
}

li.lw-datepicker-active-day,  li.lw-datepicker-active-day:hover {
  color: $lw-datepicker-basecolor;
  @include border-radius(2px);
  background: $lw-datepicker-font-color-base;
}

li.lw-datepicker-today span {
  display: block;
  width: $lw-datepicker-cell-width - 2px;
  height: $lw-datepicker-cell-width - 2px;
  line-height: $lw-datepicker-cell-height - 2px;
  border: 1px solid contrast-color($lw-datepicker-basecolor, darken($lw-datepicker-basecolor, 30%), lighten($lw-datepicker-basecolor, 40%), 50%);
  @include border-radius(2px);
;
}

li.lw-datepicker-today:hover {
  color: $lw-datepicker-font-color-base;
}

li.lw-datepicker-weekend {
  background: contrast-color($lw-datepicker-cell-background, darken($lw-datepicker-cell-background, 6%), lighten($lw-datepicker-cell-background, 6%), 50%);

}

li.lw-datepicker-neighbour-month-day {
  color: $lw-datepicker-font-color-neighbour;
}
