$lw-dp-base-color: #def;
$lw-dp-base-font-size: 12px;

@import "compass/reset";
@import "lw-datepicker";

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #111;  
  position: relative;
}

.lw-dp {
//  left: 40px;
//  top: 24px;
}

input {
  margin: 10px 10px;
  border: 1px solid gray;
  @include border-radius(4px);
}